//registry.npmjs.org/:_authToken=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
//npm.pkg.github.com/:_authToken=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
@karelnguyen:registry=https://npm.pkg.github.com
@karelnguyen:registry=https://registry.npmjs.org